.notfound{
  margin-top: 16rem;
  &__heading{
    font-size: 5.3rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  &__paragraph{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 14rem;
  }
}